.App {
    font-family: sans-serif;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }
  
  .modal {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 60vh;
    background-color:#e5e5e5;
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .modal-enter-active {
    animation: moveUp 0.7s ease-out forwards;
  }
  
  .modal-exit-active {
    animation: moveDown 0.7s ease-out forwards;
  }
  
  @keyframes moveUp {
    0% {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  
  @keyframes moveDown {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
  }
  
   .text-icon{
    width: 85%;
    display: flex;
    justify-content: space-between;

  } 

  .icon{
    width: 88px;
    color: #3A5295;
  }

  h2{
    font-size: 24px;

  }

  p{
    font-size: 20px;
  }

  .form{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .form-left{
    display: flex;
    flex-direction: column;
  }

  select{
    max-width: 80%;
  }

  .form-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label{
    margin-top: 10px;
  }

  textarea{
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
  }

  .view-btn{
    width: 100%;
    margin: 15px auto 0 auto;
  }


/* ------- STYLING FOR CONTACT US BTN ON HEADER ------------ */
  .open-cmodal-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 12px 10px;
    width: 250px;
    border-radius: 12px;
    color: white;

    cursor: pointer;

    }
  
  .open-cmodal-button p{
        padding-left: 10px;
}

/* ------- STYLING FOR CONTACT US BTN ON HEADER ------------ */

  .modal-input{
    width: 100%;
    margin-top: 10px;
  }

  .modal-label{
    margin-top: 15px;
  }

  select{
    width: 100%;
  }

  @media only screen and (max-width: 1365px) {
/* 
    .modal{
      height: 60vh;
    } */

    .modal-input{
      width: 100%;
      
    }

    input{
      max-width: 85%;
  
    }

   .form-right{
      max-width: 100%;
  
    }

  }@media only screen and (max-width: 1130px) {

   .text-icon{
    padding-top: 15px;
   }
   
h2{
    font-size: 24px;
    align-self: center;
}

    .modal{
        height: 95vh;
        padding: 20px 0;
    }

    .form{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
      }

    .form-left{
        display: flex;
        flex-direction: column;
        align-self: center;

        justify-content: center;
        width: 90%;
    }

    .form-right{
        display: flex;
        flex-direction: column;
        align-self: center;

        justify-content: center;
        width: 90%;
    }

    

   select{
        max-width: 75%;
    }

    .view-btn{
        margin-bottom: 0px;
      }
    


 

  /* .modal-input{
    width: 150px;
  } */

  input{
    max-width: 75%;
  }

  textarea{
    max-width: 75%;
    max-height: 50%;
    
  }

  .text-icon{
    margin-top: 10%;
   }
   
h2{
    font-size: 24px;
    align-self: center;
}

    .modal-input{
      width: 100%;
    }


    /* .modal{
        height: 90vh;
        width: 60vw;
        padding: 20px 0;

    } */

    .form{
      width: 100%;
      margin: 0 auto;

      align-items: center;
  
    }

    .form-left{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        width: 100%;
        margin-left: 20%;
    }

    .form-right{
        display: flex;
        flex-direction: column;
        /* align-items: center; */

        justify-content: center;
        width: 100%;

        margin-left: 20%;
        margin-right: 0;

    }

   select{
        max-width: 75%;
    }

    textarea{
      width: 100%;
    }

    .view-btn{
      align-self: flex-start;
      width: 75%;
      margin-left: 0;
    margin-top: 20px;
      }
  /* .view-btn{
    margin-bottom: 20px;
  } */

}
/* media query for modal not working here */

  /*this media query is only applying in this stylesheet, not in contactmodal.css*/