.header-container{
    background-color: var(--light-blue);

    display: flex;
    justify-content: space-between;
    height: 60px;
}


.btns-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unilife{
    padding-left: 5%;
    color: white;
}


/* 
.header-btns{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

} */

/* .shortlist{
    display: none;
    justify-content: center;
    align-items: center;
    
} */

.contact-btn{
    color: white;
    display: flex;
    width: 20vw;
    justify-content: center;
}

.contact-btn p{
    margin-left: 5%;
    font-size: 16px;
}

/* --- shortlist btn --- */
.head-heart-icon{
    width: 19px;
    height: 17.4px;
    align-self: center;
}

.head-mail-icon{
    width: 19px;
    height: 15.6px;
}

/* --- shortlist btn --- */

.menu{
    display: none;
}

/* --- modal --- */

.modal{
    display: flex;
    flex-direction: column;
}

.text-icon{
    display: flex;
    justify-content: space-between;

    color: var(--accent-blue);
}

form{
    display: flex;
}

.form-left{
    display: flex;
    flex-direction: column;
}

.form-right{
    display: flex;
    flex-direction: column;
    margin-left: 25px
}

.modal-label{
    margin-top: 10px;
}

.modal-input{
    margin-top: 5px;
    border: 1px solid #ced3d8;
    border-radius:  10px;
}

textarea{
    margin: 5px 0;
    border: 1px solid #ced3d8;
    border-radius:  10px;
    padding: 10px;
}

.view-btn{
    margin-left: 0;
}



/* --- modal --- */

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 700px) {

.contact{
    display: none;
}

.shortlist{
    display: none;
}

.header-btns{
    justify-content: flex-end;
}

.menu{
    display: block;
}

.unilife{
    width: 72px;
}

/* --- modal --- */

form{
    flex-direction: column;
}

.form-right{
    margin-left: 0;
    margin-top: 10px;
}

/* --- modal --- */

}

