.city-details-container{
    min-height: 100vh;
    position: relative;
}

.page-container{
    position: relative;
}

.select-container{
    position: absolute;
    top: -200px;
    left: 10%;
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;

    background-color: white;
    box-shadow: 0px 4px 20px 0px #00000014;
    border-radius: 20px;
}

.selector{
    display: flex;
    flex-direction: column;
}

select{
    width: 266px;
    padding: 10px;
    color:#CED3D8;
    border: 1px solid #CED3D8;
    border-radius: 10px;
    margin-top: 10px;
}
    
    /* --------- property container & cards --------- */

.property-container-header{
    margin-top: 5vh;
    margin-left: 10%;
    text-align: left;
    font-size: 2.25rem;
    font-weight: 500;

    margin-top: 125px;
}

.properties-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    max-width: 80vw;
    margin: 70px auto;
}

.property-card{
    display: flex;
    flex-direction: column;

    border: solid 1px #CED3D8;
    border-radius: 15px;
}

.property-card-img{
width: 400px;
height: auto;

border-radius: 15px 15px 0 0;
}


.blue-info{
    display: flex;
    justify-content: space-between;
    
    background-color: #3A5295;
    color: white;
    padding: 15px 15px;
}

.bills{
    display: flex;
    flex-direction: column;

}

.price{
    font-size: 24px;
}

.text{
    font-size: 12px;
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40%;
}

.bath{
    display: flex;
    justify-content: center;
    width: 50%;
}



.bed{
    display: flex;
    width: 50%;
    justify-content: center;
}

.bed-icon, .bath-icon{
    width: 24px;
    padding-bottom: 2px;
    height: auto;
}

.count{
    align-self: center;
    font-size: 16px;
    padding-left: 5px;
}

.add-details{
    display: flex;
    justify-content: space-between;

    padding: 20px 15px 15px 15px;
}

.add-details-child{
    font-size: 16px;
    font-weight: 500;
}

.address{ 
    display: flex;
    padding: 15px;

    align-items: center;
}

.pin{
    padding-bottom: 3px;
    color:#3A5295
}

.address-text{
    padding-left: 5px;
}

.twelve{
    font-size: 12px;
}

.view-home-link{
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: black;

    padding: 15px 0;
    border-top: solid 1px #CED3D8;
}

.view-home-text{
    padding-left: 10px;
}

    /* --------- property container & cards --------- */

    /* --------------- middle container ------- */

    .middle-container{
        display: flex;
        justify-content: center;

        border-radius: 15px;
        width: 85vw;
        padding: 50px;
        margin: 0 auto 40px auto;
        background-color: #F6FAFD;        
    }

    .middle-container-text{
        align-self:center;
    }

    .middle-container-header{
        font-size: 36px;
    }

    .middle-container-paragraph{
        padding-top: 15px;
        font-size: 20px;
    }

    .middle-container-img{
        max-width: 560px;
        height: auto;

        padding-top: 20px;
        padding-left: 30px;
    }

    

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 1500px) {

    .property-card-img{
        width: 100%;
        height: auto;
        }

}

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 1401px) {

    .select-container{
        width: 80%;
        height: auto;
        /* left: 110px; */
        }

        
        select{
            max-width: 200px;
        } 
}

@media only screen and (max-width: 1170px) {

    select{
        max-width: 150px;
    }

    .middle-container{
        flex-direction: column;
        align-items: center;
        }

        .property-card-img{
            max-width: 560px;
            height: auto;
            }

}


    /* ----------------- grid break --------------- */
@media only screen and (max-width: 950px) {

    .properties-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

    
    }

}

        /* ----------------- grid break --------------- */

@media only screen and (max-width: 850px) {

    .select-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        padding-bottom: 30px;
        width:500px; 
        left: 17%;
        top: -15%;

        justify-items: center;
    }
    

    .selector{
        padding-top: 10px;
    }


    .property-container-header{
        margin-top: 22vh;
    }

   .middle-container{
    flex-direction: column;
    align-items: center;
   }
    
.middle-container-img{
    max-width: 560px;
    padding-left: 0;
}

}


/* ---------------------------------- MOBILE STYLING ------------------------------------- */
@media only screen and (max-width: 740px) {

    .select-container{
       
        top: -8%;
        left: 15%;
    
    }

    /* .selector{
        max-width: 90vw;
     
    }

    select{
        max-width: 90vw;
        
    } */

    .property-container-header{
        margin-top: 35vh;
    }


    .properties-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        
    
    }

    .property-card-img{
        width: 80vw;
        height: auto;
        }

        .middle-container-img{
            width: 400px;
        }
    }

    @media only screen and (max-width: 690px) {

        .select-container{
            width: 70%;
            top: -8%;
            left: 15%;
        }
    
        .property-container-header{
            margin-top: 40%;
        }
    }
    /* ----------------- grid break --------------- */

    @media only screen and (max-width: 575px) {

        .select-container{
            top: -8%;
        }

        .middle-container-img{
            width: 300px;
        }
    }

    @media only screen and (max-width: 475px) {
        
        .select-container{
            top: -7.25%;
        }
        
        select{
            max-width: 100px;
        }

    }