.city-details-container{
    min-height: 100vh;
}

.property-container-header{
    margin-top: 5vh;
    margin-left: 10%;
    text-align: left;
    font-size: 2.25rem;
    font-weight: 500;
}

.properties-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    max-width: 80vw;
    margin: 70px auto;
}

.property-card{
    display: flex;
    flex-direction: column;

    border: solid 1px #CED3D8;
    border-radius: 15px;
}

.property-card-img{
width: 400px;
height: auto;

border-radius: 15px 15px 0 0;
}


.blue-info{
    display: flex;
    justify-content: space-between;
    
    background-color: #3A5295;
    color: white;
    padding: 15px 15px;
}

.bills{
    display: flex;
    flex-direction: column;

}

.price{
    font-size: 24px;
}

.text{
    font-size: 12px;
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 40%;

    border: 1px solid red;

}

.bath{
    display: flex;
    justify-content: space-around;
    width: 50%;
}



.bed{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.bed-icon, .bath-icon{
    width: 32px;
    height: auto;
}

.add-details{
    display: flex;
    justify-content: space-between;

    padding: 20px 15px 15px 15px;
}

.add-details-child{
    font-size: 16px;
}

.address{ 
    display: flex;
    padding: 15px;

    align-items: center;
}

.pin{
    padding-bottom: 3px;
    color:#3A5295
}

.address-text{
    padding-left: 5px;
}

.twelve{
    font-size: 12px;
}

.sixteen{
    font-size: 16px;
}

.view-home{
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: black;

    padding: 15px 0;
    border-top: solid 1px #CED3D8;
}

.view-home-text{
    padding-left: 10px;
}

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 1500px) {

    .property-card-img{
        width: 250px;
        height: auto;
        }

}


/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 950px) {

    .properties-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        
    
    }


    /* .property-card-img{
        width: 20px;
        height: auto;
        } */



}

/* ---------------------------------- MOBILE STYLING ------------------------------------- */
@media only screen and (max-width: 650px) {

    .properties-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        
    
    }


    .property-card-img{
        width: 80vw;
        height: auto;
        }



}