.footer-container{
    display: flex;
    flex-direction: column;

  
}

.blue-block{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 70px 0;

    background-color: var(--light-blue);
    color: white;
}

.email{
    display: flex;
    flex-direction: column;

    width: 30vw;
}

.email h3{
font-size: 36px;
}

.email-p{
    margin-top: 20px;
    font-size: 20px;
}

input{
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.social{
    display: flex;
    flex-direction: column;
}

.social h3{
    font-size: 36px;
}

.socials{
    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

.socials > *{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}

.black-block{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    max-height: 145px;
    

    color: gray;
    background-color: black;
}

.black-block .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.black-block p{
    font-size: 16px;
}

.left{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 40vw;
}

.left p{
    padding-top: 10px;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    width: 40%;
}


/* ---------------------------------- MOBILE STYLING ------------------------------------- */
@media only screen and (max-width: 500px) {

.blue-block{
    flex-direction: column;
    align-items: center;

    
}

.email{
    width: 70vw;
}

.social{
    width: 70vw;
    margin-top: 20px;
}

}