.see-all-cities-page{
    display: flex;
    flex-direction: column;
}

.grid-heading{
    margin-top: 5vh;
    font-weight: 500;
}

.all-cities-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;

    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    width: 85vw;
    margin: 50px auto;
}

.city{
    text-decoration: none;
    color: black;
    border: 1px solid lightgray;
    padding: 10px 12px;
    width: 100%;
    border-radius: 10px;

    text-align: center;
}