.city-link{
    text-decoration: none;
}

/* .homepage-container{
    position: relative;
} */

.cities-container{
    position: relative;
    display: flex;
    flex-direction: column;
}


.spacing{
    padding-top: 10px;
}

.card-text{
    font-weight: 400;
    font-size: 20px;
}

select{
    border: none;
    border-radius: 5px;
    width: 50vw;
}

button{
    border: none;
    background-color: var(--accent-blue);
    color: white;

    /* max-width: fit-content; */
    padding: 10px 35px;
    margin-left: 5vw;
    margin-top: 10px;
    border-radius: 10px;

    cursor: pointer;
}

.dropdown{
    position: absolute;
    top: -3%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;

    background-color: white;
    box-shadow: 0px 4px 20px 0px #00000014;
    border-radius: 20px;
}

#select-city{
    max-width: 50vw;
}

    /* ----------- grid ------------- */

.grid-header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;

    font-size: 36px;
}

.top-city-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
    
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.top-city-container:nth-child(8){
    display: none;
}

.city-card-name{
    font-weight: 600;
}

.top-city-card{
    /* width: 300px;
    height: 200px; */
    aspect-ratio: 3/2;
    width: 25vw;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.top-city-card::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /*last number controls opacity*/
    z-index: -1; /*use z index to chnage layer positioning of overlay*/
}

    /* ----------- grid ------------- */

.btn{
    display: block;
    align-self: center;
    margin: 40px 0;
    border: none;
    text-decoration: none;
    background-color: var(--accent-blue);
    color: white;

    text-align: center;
    font-size: 20px;

    width: 30%;
    padding: 12px 15px;
    border-radius: 12px;
    cursor: pointer;
}
    /* ----------- middle-container1 ------------- */

.middle-container1{
    background-color: #F6FAFD;
    border-radius: 24px;
    max-width: 80%;
    padding: 60px;
    margin: 11px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-shrink: 1;
}

.middle-container1 h2{
    font-size: 36px;
}

.value-props{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.value-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 30px;
    width: 25%;
}

.title{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
}

.value-text{
    font-size: 20px;
}

.search-icon{
    width: 96px;
    height: auto;
}

.compare-icon{
    width: 96px;
    height: auto;
}

.bills-icon{
    width: 85px;
    height: auto;
}

    /* ----------- middle-container1 ------------- */

    /* ----------- middle-container2 ------------- */

.middle-container2{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: 0 auto;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;


}

.section-text p{
    padding-top: 15px;
}

.textman{
    max-width: 40vw;
    height: auto;
}

.search-compare-btn{
    align-self: flex-start;
    margin: 40px auto;
    width: 240px;
    font-size: 20px;
}


.p{ 
    max-width: 440px;
}

.section{
    display: flex;
    margin-top: 20px;
}

.section-text{
    padding-left: 20px;
}

.section-title{
    font-size: 20px;
    font-weight: 500;
}

.offering-icon{
    width: 52.8px;
    height: 52.6px;
}

.heart-icon{
    width: 50.7px;
    height: 44.5px;
}

 /* ----------- middle-container2 ------------- */

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 850px) {

.middle-container2{
    display: none;
}

.dropdown{
    left: 88px;
    padding: 15px;
    padding-bottom: 30px;
}

}

/* ---------------------------------- TABLET STYLING ------------------------------------- */
@media only screen and (max-width: 740px) {

/* .value-box p{
font-size: 16px;
}

.value-box img{
    max-width: 12vw;
}

.value-text{

} */

.dropdown{
    left: 60px;
    top: -2%;
}

.slider-header{
    font-size: 40px;
    font-weight: 500px;
}


.slider-p{
    font-size: 20px;
}

/* -------- grid ----------- */

.grid-header{
    font-size: 24px;
}

.top-city-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    /* grid-auto-rows: 0; */
    /* overflow-y: scroll; */
}

.top-city-card{
    width: 40vw;
}

.top-city-container .city-link:last-child{
    display: none;
}

/*how can i hide the 9th element in this grid?*/


.value-props{
    flex-direction: column;
    align-items: center;
}

.value-box{
    width: 80%;
    margin-top: 40px;
}

/* ------------------ middlesection2 -------------- */

.middle-container2 .section{
    display: none;
}

.search-compare-btn{
    width: 80vw;
    align-self: center;
    margin: 30px auto;
}

.textman{
    display: none;
}

}

/* ---------------------------------- MOBILE STYLING ------------------------------------- */
@media only screen and (max-width: 500px) {


.dropdown{
    padding: 10px 0 20px 0;
    left: 50px;
    top: -1%;
}

#select-city{
    max-width: 40%;
}

.submit{ 
    max-width: 30vw;
}

    /* -------- grid ----------- */

.top-city-container{
    grid-template-columns: repeat(1, 1fr);

    /* grid-auto-rows: 0; */
    /* overflow-y: scroll; */
}

.grid-header{
    width: 50%;
    text-align: center;
}

.top-city-card{
    width: 300px;
}
    /* -------- grid ----------- */
    /* -------- middlecontainer1 ----------- */

    .middle-container1 h2 {
        font-size: 32px;
    }


    /* -------- middlecontainer1 ----------- */
}